[defaults]
inventory = inventory/test.yml
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
stdout_callback = default
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
